@charset "utf-8";

body {
    font-family: "Arial", "メイリオ";
    background-color: #FFFFFF;
    color: #333333;
}

/* ========== header ========== */

.site-title {
    width: 145px;
    margin-left: 216px;
    padding: 20px 0;
}

.g-nav {
    padding: 13px 0;
    background-color: #333333;
}

.g-nav-list {
    margin-left: 216px;
}

.g-nav-item {
    display: inline-block;
    margin-right: 60px;
    font-size: 14px;
    color: #FFFFFF;
}


/* ========== main ========== */

.main-container {
    margin: 0 216px;
}


/* ========== pickup ========== */

.pickup {
    display: flex;
    flex-flow: row ;
}

.pu-article {
    flex: 1 1 auto;
    text-align: center;
    max-width: 374px;
    padding: 40px 0 62px 0;
    margin-right: 23px;
}

.pickup-img {
    width: 100%;
    height: auto;
}

.pu-article-title {
    text-align: justify;
    margin: 23px 0 19px 0;
    font-size: 16px;
}

.pickup-link {
    border-bottom: 1px solid #333333;
}

.pickup-link:hover {
    border: none;
}