@charset "utf-8";

body {
    font-family: "Arial", "メイリオ";
    background-color: #FFFFFF;
    color: #333333;
    padding-top: 107px;
}

/* ========== header ========== */

.site-header {
    position: fixed;
    width: 100%;
    height: 107px;
    top: 0;
    left: 0;
    z-index: 10;
}

.site-title {
    max-width: 1168px;
    margin: 0 auto;
    background-color: #FFFFFF;
}

.header-logo {
    width: 145px;
    padding: 20px 0;
}

.g-nav {
    padding: 13px 0;
    background-color: #333333;
}

.g-nav-list {
    max-width: 1168px;
    display: flex;
    flex-flow: row;
    margin: 0 auto;
}

.g-nav-item {
    margin-right: 60px;
    font-size: 14px;
    color: #FFFFFF;
}


/* ========== main ========== */

.main-container {
    max-width: 1168px;
    margin: 0 auto;
    padding-bottom: 138px;
    display: flex;
    flex-flow: column;
}

.main-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* ========== pickup ========== */

.pickup {
    display: flex;
    flex-flow: row ;
    justify-content: space-between;
}

.pu-article {
    flex: 1 1 auto;
    text-align: center;
    max-width: 374px;
    padding: 40px 0 62px 0;
}

.pickup-img {
    width: 100%;
    height: auto;
}

.pu-article-title {
    text-align: justify;
    margin: 23px 0 19px 0;
    font-size: 16px;
    font-weight: bold;
}

.pickup-link {
    border-bottom: 1px solid #333333;
}

.pickup-link:hover {
    border: none;
}


/* ========== new post ========== */

.new-post {
    max-width: 759px;
    height: auto;
}

.np-article {
    margin-bottom: 84.5px;
}

.np-article-title {
    font-size: 24px;
    font-weight: bold;
}

.np-article-data {
    font-size: 14px;
    padding: 23px 0 10px 0;
    display: flex;
    flex-flow: row;
}

.np-article-data p {
    margin-right: 32px;
}

.np-article-img {
    max-width: 100%;
}

.np-article-text {
    padding: 19px 41px 0 51px;
    text-align: center;
}

.np-article-text p {
    text-align: justify;
    margin-bottom: 29px;
}

.np-link {
    border-bottom: 1px solid #333333;
}

.np-link:hover {
    border: none;
    
}


/* ========== sub content ========== */

.sub-content-inner {
    max-width: 345px;
    text-align: center;
}

.sub-content-inner h2 {
    font-size: 18px;
    font-weight: bold;
}


/* ========== profile ========== */

.profile {
    margin-bottom: 50px;
}

.profile-img {
    border-radius: 50%;
    max-width: 130px;
}

.author-name {
    margin: 30px 0 26px 0;
}

.profile-text {
    font-size: 14px;
    text-align: justify;
}


/* ========== ranking ========== */

.ranking {
    padding-bottom: 42px;
}

.ranking-title {
    padding-bottom: 30px;
}

.ranking-img {
    width: 100%;
}

.ranking-article-title {
    font-size: 14px;
    padding: 14px 7px 26px 7px;
    text-align: justify;
}


/* ========== archive ========== */

.archive-title {
    padding-bottom: 26px;
}

.archive-list {
    border-top: 1px solid #777777;
}

.archive-list-item {
    text-align: justify;
    padding: 23px 0 23px 20px;
    border-bottom: 1px solid #777777;
}


/* ========== footer ========== */

.site-footer {
    background-color: #F7F7F7;
    padding-top: 53px;
}

.footer-wrapper {
    max-width: 1168px;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.footer-wrapper h2 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 32px;
}

/* ========== footer-about ========== */

.footer-about {
    width: 30%;
}


.footer-about-list {
    padding-top: 15px;
    list-style-position: inside;
}


.footer-about-list-item {
    margin-bottom: 14px;
}

.footer-about-list-item:before {
    content: "\025b6";
}


/* ========== footer-menue ========== */

.footer-menue-list {
    border-top: 1px solid #777777;
    width: 350px;
}

.footer-menue-list-item {
    text-align: justify;
    padding: 19px 0 15px 20px;
    border-bottom: 1px solid #777777;
    font-size: 14px;
}

/* ========== copyright ========== */

.copyright {
    text-align: center;
    padding: 91px 0 12px 0;
}